*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

.navigation__text{
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #070707;
    
}
.containermain{
    width: 970px;
    height: 387px;
}
.head__title{
    width: 300px;
    height: 60px;
    margin-top: 60px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: #070707;
    
}
.head__img{
    width: 100%;
    min-width: 500px;
    margin-bottom: 100px;
    margin-top: 70px;

}

.about__title{
    background: #f6f6f6;
    height: 500px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    color: #070707;
    margin-bottom: 47px;
    
}

.about__text{
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 150px;
    color: #070707;

}

.skills{
    height: 500px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    color: #070707;
    margin-bottom: 47px;
}

.skills__text{
    width: 250px;
    height: 24px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 250px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #070707; 
}

.skills__img{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 22px;
    gap: 50px;
}

.container{
    margin: 0 auto;
    padding: 0 16px;
    max-width: 936px;
}

.portfolio{
    background: #f6f6f6;
    padding-top: 112px;
    padding-bottom: 96px;
}

.portfolio__title{
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    color: #070707;
    margin-bottom: 47px;
}

.portfolio__img{
    width: 100%;
    min-width: 500px;
    margin-bottom: 40px;
    margin-top: 70px;
}
.portfolio__text{
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;

}
.contacts{
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    text-align: center;
    margin-top: 70px;
}

    .button{
    background-color: rgb(0, 0, 0);
    width: 150px;
    height: 60px;
    border-radius: 60px;
    }

.button__text{
    color: #e5e5e5;
}

.contacts__text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #070707;
    margin-bottom: 50px;
    margin-top: 40px;  
}
.img__contacts{
    display: flex ;
    justify-content: space-between;
    width: 400px;
    height: 40px;
    margin-top: 40px;
}
